.row {
  border-bottom: 0.4rem solid black;
}

.row:last-child {
  border-bottom: 0;
}

.cell {
  display: block;
  width: 80px;
  height: 80px;
  font-size: 40px;
}

.cell:first-child {
  border-right: 0.4rem solid black;
}

.cell:last-child {
  border-left: 0.4rem solid black;
  border-right: 0;
}

@media only screen and (min-width: 377px) {
  h1 {
    font-size: 4em;
  }
}

@media only screen and (max-width: 376px) {
  body {
    -webkit-text-size-adjust: none;
  }
  h1 {
    font-size: 2em;
  }
}

#gameScreen {
  display: none;
}

.or {
  font-size: 2em;
}
